<html>
    <head>
        <title> Pixunki &#x2014; {{ name }} </title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mainstyle.css') }}">
    </head>
    <body>
        <div id="top-banner">
            top {{ name }}
        </div>
        <div id="content-wrapper">
            <div id="menu">
                menu {{ menu }}
            </div>
            <div id="main-content">
                Lorem ipsum. {{ content }}
            </div>
        </div>
`    </body>
</html>
