{% extends 'default.html' %}

{% block title %}NeoPixels{% endblock %}

{% block content %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
            $(function() {
              $('div#press-me-button').bind('click', function() {
                $.getJSON('/runFunction',
                    function(data) {
                  //do nothing
                });
                return false;
              });
            });
    </script>
    Pixe<input type="color"></input>
    <div href="#" id="press-me-button" onclick="run">PRESS ME!!</div>
{% endblock %}
